@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mitr", sans-serif;
    font-weight: 200;
    
}

body{
    background-color: rgb(22, 22, 22);
    color: rgb(255, 255, 255);
    line-height: 1.6;
}

nav{  /* Nav Bar */
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 1rem  2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
}

nav .logo > img{
    height: 50px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}
nav a{
    color: white;
    font-weight: lighter;
    text-decoration: none;
}
nav a:hover{
    color:chartreuse;
}
.header{
    text-align: center;
}
.img-profile-Faker{
    width: 200px;
    height: auto;
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 0 2px 2px 2px rgb(32, 32, 32);
    border: 1px solid rgb(32, 32, 32);
    margin: 20px;
    
}
section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 25px;
}
h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.card{
    background-color: rgb(22, 22, 22);
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 2px 5px rgb(32, 32, 32);
}
.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card h3{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}
.card p{
    padding: 10px;
    font-size: 16px;
}